.galleryWrapper .row1 .box1, .galleryWrapper .row2 .box6 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 2;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px; }
  @media screen and (max-width: 960px) {
    .galleryWrapper .row1 .box1, .galleryWrapper .row2 .box6 {
      flex: 1; } }
  @media screen and (max-width: 640px) {
    .galleryWrapper .row1 .box1, .galleryWrapper .row2 .box6 {
      border-left: 10px solid #0ff0f0;
      border-right: 10px solid #0ff0f0;
      border-bottom: 10px solid #0ff0f0; } }
  .galleryWrapper .row1 .box1 .boxIconContainer, .galleryWrapper .row2 .box6 .boxIconContainer {
    margin-top: 80px;
    display: flex;
    justify-content: space-around; }
    @media screen and (max-width: 960px) {
      .galleryWrapper .row1 .box1 .boxIconContainer, .galleryWrapper .row2 .box6 .boxIconContainer {
        margin: 0; } }
    .galleryWrapper .row1 .box1 .boxIconContainer span, .galleryWrapper .row2 .box6 .boxIconContainer span {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: 5px solid rgba(255, 255, 255, 0.7);
      background-color: rgba(255, 255, 255, 0.2);
      width: 75px;
      height: 75px;
      cursor: pointer;
      transition: all 500ms ease-in-out; }
      .galleryWrapper .row1 .box1 .boxIconContainer span i, .galleryWrapper .row2 .box6 .boxIconContainer span i {
        color: rgba(255, 0, 0, 0.7);
        transition: all 500ms ease-in-out; }
      .galleryWrapper .row1 .box1 .boxIconContainer span:hover, .galleryWrapper .row2 .box6 .boxIconContainer span:hover {
        border-radius: 10%;
        border: none;
        background-color: rgba(15, 240, 240, 0.7);
        transform: rotate(45deg); }
        .galleryWrapper .row1 .box1 .boxIconContainer span:hover i, .galleryWrapper .row2 .box6 .boxIconContainer span:hover i {
          color: rgba(0, 0, 0, 0.5); }
  .galleryWrapper .row1 .box1 .caption, .galleryWrapper .row2 .box6 .caption {
    cursor: pointer; }
    @media screen and (max-width: 960px) {
      .galleryWrapper .row1 .box1 .caption, .galleryWrapper .row2 .box6 .caption {
        display: none; } }
    .galleryWrapper .row1 .box1 .caption .redLine, .galleryWrapper .row2 .box6 .caption .redLine {
      height: 5px;
      width: 25px;
      margin: 3px 20px;
      background-color: rgba(255, 0, 0, 0.6); }
  .galleryWrapper .row1 .box1 h5, .galleryWrapper .row2 .box6 h5 {
    margin: 0 20px;
    font-family: "Raleway", sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5); }
    @media screen and (max-width: 960px) {
      .galleryWrapper .row1 .box1 h5, .galleryWrapper .row2 .box6 h5 {
        display: none; } }

.galleryWrapper .row1 .box2, .galleryWrapper .row1 .box3, .galleryWrapper .row2 .box4, .galleryWrapper .row2 .box5 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px; }
  @media screen and (max-width: 640px) {
    .galleryWrapper .row1 .box2, .galleryWrapper .row1 .box3, .galleryWrapper .row2 .box4, .galleryWrapper .row2 .box5 {
      border-left: 10px solid #0ff0f0;
      border-right: 10px solid #0ff0f0;
      border-bottom: 10px solid #0ff0f0; } }
  .galleryWrapper .row1 .box2 .boxIconContainer, .galleryWrapper .row1 .box3 .boxIconContainer, .galleryWrapper .row2 .box4 .boxIconContainer, .galleryWrapper .row2 .box5 .boxIconContainer {
    margin-top: 80px;
    display: flex;
    justify-content: space-around; }
    @media screen and (max-width: 960px) {
      .galleryWrapper .row1 .box2 .boxIconContainer, .galleryWrapper .row1 .box3 .boxIconContainer, .galleryWrapper .row2 .box4 .boxIconContainer, .galleryWrapper .row2 .box5 .boxIconContainer {
        margin: 0; } }
    .galleryWrapper .row1 .box2 .boxIconContainer span, .galleryWrapper .row1 .box3 .boxIconContainer span, .galleryWrapper .row2 .box4 .boxIconContainer span, .galleryWrapper .row2 .box5 .boxIconContainer span {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: 5px solid rgba(255, 255, 255, 0.7);
      background-color: rgba(255, 255, 255, 0.2);
      width: 75px;
      height: 75px;
      cursor: pointer;
      transition: all 500ms ease-in-out; }
      .galleryWrapper .row1 .box2 .boxIconContainer span i, .galleryWrapper .row1 .box3 .boxIconContainer span i, .galleryWrapper .row2 .box4 .boxIconContainer span i, .galleryWrapper .row2 .box5 .boxIconContainer span i {
        color: rgba(255, 0, 0, 0.7);
        transition: all 500ms ease-in-out; }
      .galleryWrapper .row1 .box2 .boxIconContainer span:hover, .galleryWrapper .row1 .box3 .boxIconContainer span:hover, .galleryWrapper .row2 .box4 .boxIconContainer span:hover, .galleryWrapper .row2 .box5 .boxIconContainer span:hover {
        border-radius: 10%;
        border: none;
        background-color: rgba(15, 240, 240, 0.7);
        transform: rotate(45deg); }
        .galleryWrapper .row1 .box2 .boxIconContainer span:hover i, .galleryWrapper .row1 .box3 .boxIconContainer span:hover i, .galleryWrapper .row2 .box4 .boxIconContainer span:hover i, .galleryWrapper .row2 .box5 .boxIconContainer span:hover i {
          color: rgba(0, 0, 0, 0.5); }
  .galleryWrapper .row1 .box2 .caption, .galleryWrapper .row1 .box3 .caption, .galleryWrapper .row2 .box4 .caption, .galleryWrapper .row2 .box5 .caption {
    cursor: pointer; }
    @media screen and (max-width: 960px) {
      .galleryWrapper .row1 .box2 .caption, .galleryWrapper .row1 .box3 .caption, .galleryWrapper .row2 .box4 .caption, .galleryWrapper .row2 .box5 .caption {
        display: none; } }
    .galleryWrapper .row1 .box2 .caption .redLine, .galleryWrapper .row1 .box3 .caption .redLine, .galleryWrapper .row2 .box4 .caption .redLine, .galleryWrapper .row2 .box5 .caption .redLine {
      height: 5px;
      width: 25px;
      margin: 3px 20px;
      background-color: rgba(255, 0, 0, 0.6); }
  .galleryWrapper .row1 .box2 h5, .galleryWrapper .row1 .box3 h5, .galleryWrapper .row2 .box4 h5, .galleryWrapper .row2 .box5 h5 {
    margin: 0 20px;
    font-family: "Raleway", sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5); }
    @media screen and (max-width: 960px) {
      .galleryWrapper .row1 .box2 h5, .galleryWrapper .row1 .box3 h5, .galleryWrapper .row2 .box4 h5, .galleryWrapper .row2 .box5 h5 {
        display: none; } }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0; }

.siteWrapper {
  display: flex;
  flex-wrap: wrap; }

.motoIcon {
  animation: wheelie 2s 1s ease-in-out;
  transform-origin: 0 100%; }

@keyframes wheelie {
  0% {
    transform: rotate(0); }
  10% {
    transform: rotate(0); }
  20% {
    transform: rotate(-25deg); }
  30% {
    transform: rotate(0); }
  40% {
    transform: rotate(-15deg); }
  50% {
    transform: rotate(-7deg); }
  75% {
    transform: rotate(-35deg); }
  100% {
    transform: rotate(0); } }
a {
  font-family: "Roboto", sans-serif;
  text-decoration: none; }
  a:hover {
    color: red;
    border: 2px solid rgba(255, 0, 0, 0.7);
    padding: 5px 10px; }

a:visited, a:link {
  color: black; }

.hero {
  background-image: url("../img/backgroundImage2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100%; }
  .hero .navBar {
    display: flex;
    justify-content: center;
    margin-top: 20px; }
    @media screen and (max-width: 640px) {
      .hero .navBar {
        justify-content: center; } }
    .hero .navBar .links {
      width: 80%;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .hero .navBar .links .menuCollapseIcon {
        display: none;
        cursor: pointer; }
        .hero .navBar .links .menuCollapseIcon:hover, .hero .navBar .links .menuCollapseIcon:visited {
          color: red; }
        @media screen and (max-width: 640px) {
          .hero .navBar .links .menuCollapseIcon {
            font-size: 25px;
            text-align: center;
            display: inline-block;
            flex: 1;
            margin: 0;
            margin-left: 100px; } }
      .hero .navBar .links .motoIcon {
        text-align: center;
        font-size: 50px;
        margin: 0;
        transition: all 500ms ease-in-out;
        transform-origin: 0 100%;
        margin: 0 50px; }
        .hero .navBar .links .motoIcon:hover {
          color: red;
          transform: rotate(-25deg);
          cursor: pointer; }
      .hero .navBar .links .link {
        text-align: center;
        flex: 1;
        margin: 0;
        color: black; }
        @media screen and (max-width: 640px) {
          .hero .navBar .links .link {
            display: none; } }
  .hero .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 2px;
    margin-top: 100px; }
    .hero .title h4 {
      margin: 0;
      font-family: "Raleway", sans-serif;
      font-size: 20px;
      color: white;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); }
      @media screen and (max-width: 960px) {
        .hero .title h4 {
          font-size: 15px; } }
      @media screen and (max-width: 640px) {
        .hero .title h4 {
          font-size: 20px; } }
    .hero .title h1 {
      margin: 10px;
      font-family: "Raleway", sans-serif;
      color: white;
      text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
      letter-spacing: 5px;
      font-size: 125px; }
      @media screen and (max-width: 960px) {
        .hero .title h1 {
          font-size: 95px; } }
      @media screen and (max-width: 640px) {
        .hero .title h1 {
          font-size: 65px; } }
    .hero .title .whiteLine {
      height: 15px;
      width: 10%;
      background-color: white;
      margin-bottom: 20px;
      box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5); }
      @media screen and (max-width: 640px) {
        .hero .title .whiteLine {
          height: 10px;
          width: 20%; } }
  .hero .button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px; }
    .hero .button span {
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 60px;
      background-color: rgba(255, 0, 0, 0.7);
      border: 2px solid transparent;
      transition: background-color 250ms ease-in-out; }
      .hero .button span i {
        color: #0ff0f0;
        margin: 0;
        font-size: 40px;
        transform-origin: 50% 50%;
        transition: transform 1s ease-in-out; }
      .hero .button span:hover {
        background-color: rgba(15, 240, 240, 0.5);
        border: 3px solid rgba(255, 0, 0, 0.7);
        cursor: pointer; }
        .hero .button span:hover i {
          color: rgba(255, 0, 0, 0.7);
          transform: rotate(360deg); }

.galleryWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif; }
  .galleryWrapper .row1 {
    width: 100%;
    display: flex;
    flex-direction: row; }
    @media screen and (max-width: 640px) {
      .galleryWrapper .row1 {
        flex-direction: column; } }
    .galleryWrapper .row1 .box1 {
      background-image: url("../img/moto1.jpg"); }
    .galleryWrapper .row1 .box2 {
      background-image: url("../img/moto3.jpg"); }
    .galleryWrapper .row1 .box3 {
      background-image: url("../img/moto7.jpg"); }
  .galleryWrapper .row2 {
    width: 100%;
    display: flex;
    flex-direction: row; }
    @media screen and (max-width: 640px) {
      .galleryWrapper .row2 {
        flex-direction: column; } }
    .galleryWrapper .row2 .box4 {
      background-image: url("../img/moto9.jpg"); }
    .galleryWrapper .row2 .box5 {
      background-image: url("../img/moto8.jpg"); }
    .galleryWrapper .row2 .box6 {
      background-image: url("../img/moto2.jpg"); }

.footer {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  color: grey;
  background-color: #10efef;
  width: 100%; }

/*# sourceMappingURL=application.css.map */
