// FONTS ==============================
$largeText: 'Raleway', sans-serif;
$smallText: 'Roboto', sans-serif;

// MEDIA BREAKPOINTS ====================
$tablet: "(max-width: 960px)";
$mobile: "(max-width: 640px)";
