// GLOBAL WRAPPER ====================
.siteWrapper {
  display: flex;
  flex-wrap: wrap;
}

// MOTORCYCLE ICON ANIMATION ==============

.motoIcon {
  animation: wheelie 2s 1s ease-in-out;
  transform-origin: 0 100%;
}

@keyframes wheelie {
  0% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(0);
  }
  20% {
    transform: rotate(-25deg);
  }
  30% {
    transform: rotate(0);
  }
  40% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(-7deg);
  }
  75% {
    transform: rotate(-35deg);
  }
  100% {
    transform: rotate(0);
  }
}
// LINK COLOR ==============================

a {
  font-family: $smallText;
  text-decoration: none;
  &:hover, {
    color: rgba(255, 0, 0, 1);
    border: 2px solid rgba(255, 0, 0, .7);
    padding: 5px 10px;
  }
}

a {
  &:visited, &:link {
    color: black;
  }
}

// a:link {
//   font-family: $smallText;
//   text-decoration: none;
//   color: black;
//   &:hover, {
//     color: rgba(255, 0, 0, 1);
//     border: 2px solid rgba(255, 0, 0, .7);
//     padding: 5px 10px;
//   }
//   &:visited, {
//     color: black;
//     text-decoration: none;
//     padding: 5px 10px;
//   }
// }

// HERO LANDING =========================

.hero {
  background-image: url("../img/backgroundImage2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  .navBar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    @media screen and #{$mobile} {
      justify-content: center;
    }
    .links {
      width: 80%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .menuCollapseIcon {
        display: none;
        cursor: pointer;
        &:hover, &:visited {
          color: rgba(255, 0, 0, 1);
        }
        @media screen and #{$mobile} {
          font-size: 25px;
          text-align: center;
          display: inline-block;
          flex: 1;
          margin: 0;
          margin-left: 100px;
        }
      }
      .motoIcon {
        text-align: center;
        font-size: 50px;
        margin: 0;
        transition: all 500ms ease-in-out;
        transform-origin: 0 100%;
        margin: 0 50px;
        &:hover {
          color: rgba(255, 0, 0, 1);
          transform: rotate(-25deg);
          cursor: pointer;
        }
      }
      .link {
        text-align: center;
        flex: 1;
        margin: 0;
        color: black;
        @media screen and #{$mobile} {
          display: none;
        }
      }
    }
  }
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 2px;
    // margin: 0;
    margin-top: 100px;
    h4 {
      margin: 0;
      font-family: $largeText;
      font-size: 20px;
      color: rgba(255, 255, 255, 1);
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
      @media screen and #{$tablet} {
        font-size: 15px;
      }
      @media screen and #{$mobile} {
        font-size: 20px;
      }
    }
    h1 {
      margin: 10px;
      font-family: $largeText;
      color: rgba(255, 255, 255, 1);
      text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
      letter-spacing: 5px;
      font-size: 125px;
      @media screen and #{$tablet} {
        font-size: 95px;
      }
      @media screen and #{$mobile} {
        font-size: 65px;
      }
    }
    .whiteLine {
      height: 15px;
      width: 10%;
      background-color: white;
      margin-bottom: 20px;
      box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
      @media screen and #{$mobile} {
        height: 10px;
        width: 20%;
      }
    }
  }
  .button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    span {
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 60px;
      background-color: rgba(255, 0, 0, .7);
      border: 2px solid rgba(0, 0, 0, 0);
      transition: background-color 250ms ease-in-out;
      i {
        color: rgba(15, 240, 240, 1);
        margin: 0;
        font-size: 40px;
        transform-origin: 50% 50%;
        transition: transform 1s ease-in-out;
      }
      &:hover {
        background-color: rgba(15, 240, 240, .5);
        border: 3px solid rgba(255, 0, 0, .7);
        cursor: pointer;
        i {
          color: rgba(255, 0, 0, .7);
          transform: rotate(360deg);
        }
      }
    }
  }
}


// GALLERY SECTION =====================
.galleryWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: $largeText;
  .row1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    @media screen and #{$mobile} {
      flex-direction: column;
    }
    .box1 {
      @extend %featuredBox;
      background-image: url("../img/moto1.jpg");
    }
    .box2 {
      @extend %subBox;
      background-image: url("../img/moto3.jpg");
    }
    .box3 {
      @extend %subBox;
      background-image: url("../img/moto7.jpg");
    }
  }
  .row2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    @media screen and #{$mobile} {
      flex-direction: column;
    }
    .box4 {
      @extend %subBox;
      background-image: url("../img/moto9.jpg");
    }
    .box5 {
      @extend %subBox;
      background-image: url("../img/moto8.jpg");
    }
    .box6 {
      @extend %featuredBox;
      background-image: url("../img/moto2.jpg");
    }
  }
}

// FOOTER ================================

.footer {
  font-family: $smallText;
  text-align: center;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  color: grey;
  background-color: #10efef;
  width: 100%;
}
